@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
  scroll-behavior: smooth !important;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overscroll-behavior: none;
  width: 100vw !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clients img {
  object-fit: contain;
}

a {
  position: relative;
  text-decoration: none;
}
a:before,
a:after {
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: #5dcc97;
  transition: all 0.8s;
}
a:hover:before,
a:hover:after {
  width: 100%;
}

body::-webkit-scrollbar {
  width: 1.2em;
}

body::-webkit-scrollbar-track {
  box-shadow: none 0 0 6px rgba(217, 255, 0, 0.3);
  background-color: #0e1527;
}

body::-webkit-scrollbar-thumb {
  background-color: #5dcc97;
  outline: 2px solid 0e1527;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  display: flex;
  justify-content: center;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 600px;
  align-items: center;
}

@media (min-width: 1024px) {
  .in-view {
    position: fixed;
    top: 50px;
    left: 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 70%;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input,
textarea {
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #0077ff;
}

.form-button {
  background-color: #0e1527;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 25%;
}

.form-button:hover {
  background-color: #005ce6;
}

.styles-module_avatar__afcc4 img {
  border: none !important;
  border-radius: 0% !important;
}

.styles-module_chatFooter__TGv0P form svg {
  margin-left: 10px;
}

.scrollbar {
  width: 100vw;
  overflow-x: hidden;
}
